<script type="text/javascript" src="/static/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/jquery.validate.js"></script>
<script type="text/javascript" src="/static/messages_ru.js"></script>
<script type="text/javascript" src="/static/admin_quiz_edit.js"></script>
<script type="text/javascript">
    //глобальная переменная, чтобы не пересчитывать индексы
    var currQuestionIndex = <?php echo $tpl_vars['curr_question_index']; ?>;
    var QUESTION_COUNT_VALIDATE = 1;
    var PER_QUESTION_ANSWER_COUNT_VALIDATE = 2;
    var REQUIRED_QUESTION_ANSWER_COUNT_VALIDATE = 1;
</script>

<style>
    .error {
        color: red;
    }
</style>

<div>
    <a href="/admin/quiz_list">К списку</a>
</div>

<form action="/admin/edit_quiz" method="POST" id="d_form">
    <input type="hidden" name="quiz[id]" value="<?php echo $tpl_vars['quiz']->id ?>">
    <div>Название опроса <input type="text" name="quiz[name]" id="quiz_name" class="required question_count per_question_answer_count required_answer_count" value="<?php echo $tpl_vars['quiz']->name ?>" /></div>
    <div class="error"></div>
    <div>Статус
        <select name="quiz[status]">
            <?php foreach ($tpl_vars['quiz_statuses'] as $k => $v) { ?>
                <option value="<?php echo $k ?>" <?php if ($k == $tpl_vars['quiz']->status) { ?>checked<?php }?> ><?php echo $v ?></option>
            <?php } ?>
        </select>
    </div>

    <h3>Вопросы</h3>

    <div id="questions_block">
        <!-- сюда будут динамически загружаться поля для ввода вопроса/ответа -->
        <?php foreach ($tpl_vars['quiz']->questions as $k => $v) {
            $question = $v;
            $IND = $k;
            include $tpl_vars['question_partial'];
        } ?>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary" id="add_question_button">Добавить вопрос</button>
        <button type="submit" class="btn">Сохранить</button>
        <?php if ($tpl_vars['quiz']->id) { ?>
        <button type="submit" class="btn" name="to_delete" value="1">Удалить</button>
        <?php } ?>
    </div>

</form>

<div style="display: none" id="work_block">

    <div id="question_block_tpl">
        <?php
            $IND = 'IND';
            $question = new Question();
            include $tpl_vars['question_partial'];
        ?>
    </div>

    <textarea id="answer_block_tpl">
        <?php
            $IND0 = '{0}';
            $IND1 = '{1}';
            $answer = new Answer();
            include $tpl_vars['answer_partial'];
        ?>
    </textarea>

</div>