<h3 xmlns="http://www.w3.org/1999/html">Специальная выборка опроса "<?php echo $tpl_vars['quiz']->name ?>"</h3>

<form action="/admin/query/<?php echo $tpl_vars['quiz']->id; ?>" method="POST">
    <input type="hidden" name="quiz_id" value="<?php echo $tpl_vars['quiz']->id; ?>">
    <ul>
        <?php foreach ($tpl_vars['quiz']->questions as $k => $question) { ?>
            <li>
                <div><?php echo $question->question; ?></div>
                <ul>
                    <?php foreach ($question->answers as $k => $answer) { ?>
                        <li>
                            <input type="checkbox" name="ans[<?php echo $question->id; ?>][<?php echo $answer->id; ?>]"> <?php echo $answer->answer; ?>
                        </li>
                    <?php } ?>
                </ul>
            </li>
        <?php } ?>
    </ul>
    <button type="submit" class="btn">Результат</button>
</form>

<div><a href="<?php echo $tpl_vars['back_url']; ?>">Назад</a></div>