<div>
    <a href="/admin/quiz_list">К списку</a>
</div>

<h3><?php echo $tpl_vars['quiz']->name ?></h3>

<form action="/admin/edit_quiz" method="POST" id="d_form">
    <input type="hidden" name="quiz[id]" value="<?php echo $tpl_vars['quiz']->id ?>">
    <div>Статус
        <select name="quiz[status]">
            <?php foreach ($tpl_vars['quiz_statuses'] as $k => $v) { ?>
            <option value="<?php echo $k ?>" <?php if ($k == $tpl_vars['quiz']->status) { ?>checked<?php }?> ><?php echo $v ?></option>
            <?php } ?>
        </select>
    </div>

    <div class="btn-group">
        <button type="submit" class="btn">Сохранить</button>
        <button type="submit" class="btn" name="to_delete" value="1">Удалить</button>
        <button type="button" class="btn" onclick="location.href='/admin/query/<?php echo $tpl_vars['quiz']->id ?>'">Специальная выборка</button>
    </div>
</form>

<?php include $tpl_vars['result_partial'] ?>