<div>
    <a href="/admin/edit_quiz">Новый опрос</a> <a href="/quiz/show_active">Активный опрос</a>
</div>
<table>
    <tr>
        <td style="width: 200px; vertical-align: top;">
            <div>Активные</div>
            <?php foreach ($tpl_vars['actual'] as $k => $value) { ?>
                <?php include $tpl_vars['quiz_partial']; ?>
            <?php } ?>
        </td>
        <td style="width: 200px; vertical-align: top;">
            <div>Черновики</div>
            <?php foreach ($tpl_vars['draft'] as $k => $value) { ?>
                <?php include $tpl_vars['quiz_partial']; ?>
            <?php } ?>
        </td>
        <td style="width: 200px; vertical-align: top;">
            <div>Закрытые</div>
            <?php foreach ($tpl_vars['closed'] as $k => $value) { ?>
                <?php include $tpl_vars['quiz_partial']; ?>
            <?php } ?>
        </td>
    </tr>
</table>