<div style="border: 1px double black; padding: 5px;" class="question_block" number="<?php echo $IND ?>">
    <div><a href="#" class="delete_question_button">Удалить вопрос целиком</a></div>
    <input type="hidden" name="question[<?php echo $IND ?>][id]" value="<?php echo $question->id; ?>">
    <div class="required">
        Вопрос <input type="text" name="question[<?php echo $IND ?>][question]" required value="<?php echo $question->question; ?>" />
    </div>
    <div class="required-error"></div>
    Обязателен к ответу <input type="checkbox" name="question[<?php echo $IND ?>][required_answer]" <?php if ($question->required_answer) {echo 'checked'; } ?> /><br />
    Тип:
    Один ответ<input type="radio" name="question[<?php echo $IND ?>][multy_answer]" value="0" <?php if (!$question->multy_answer) {echo 'checked'; } ?> />
    Несколько ответов<input type="radio" name="question[<?php echo $IND ?>][multy_answer]" value="1" <?php if ($question->multy_answer) {echo 'checked'; } ?> />

    <h3>Ответы</h3>
    <a href="#" class="add_answer_button">Добавить ответ</a>
    <div class="answers_block" number="<?php echo count($question->answers); ?>">
        <!-- сюда будут динамически загружаться поля для ввода ответа -->
        <?php foreach ($question->answers as $i => $a) {
            $IND0 = $IND;
            $IND1 = $i;
            $answer = $a;
            include $tpl_vars['answer_partial'];
        } ?>
    </div>
</div>