<div class="answer_block">
    <div class="required">
        <input type="hidden" name="answer[<?php echo $IND0 ?>][<?php echo $IND1 ?>][id]" value="<?php echo $answer->id; ?>">
        <input name="answer[<?php echo $IND0 ?>][<?php echo $IND1 ?>][answer]" class="required" value="<?php echo $answer->answer; ?>" /> <a href="#" class="delete_answer_button">Удалить</a>
    </div>
    <div class="required-error"></div>
</div>