<h3>Результаты опроса "<?php echo $tpl_vars['quiz']->name ?>"</h3>

<ul>
<?php foreach ($tpl_vars['data'] as $k => $v) { ?>
    <li>
        <?php echo $k ?>
        <table>
            <?php foreach ($v as $answer => $data) { ?>
                <?php if (in_array($answer, array('total', 'total_answers', 'QID'))) {continue;} ?>
                <tr>
                    <td style="width: 200px;">
                        <?php echo $answer ?>
                    </td>
                    <td style="width: 100px;">
                        <div style="float: left; background-color: darkred; width: <?php echo $data[1] ?>px;">&nbsp;</div>
                        <div style="float: right; background-color: rgba(64,58,139,0.10); width: <?php echo (100 - $data[1]) ?>px;">&nbsp;</div>
                    </td>
                    <td><?php echo $data[0] ?> из <?php echo $data[2] ?></td>
                </tr>
            <?php } ?>
        </table>
    </li>
<?php } ?>
</ul>

<div><a href="<?php echo $tpl_vars['back_url']; ?>">Назад</a></div>