<style>
    .error {
        color: red;
    }
</style>

</div>
    <a href="/admin/quiz_list">Админка</a>
</div>

<?php if ($tpl_vars['active']) { ?>
    <h3><?php echo $tpl_vars['active']->name; ?></h3>
    <form action="/quiz/show_active" method="POST">
        <input type="hidden" name="quiz_id" value="<?php echo $tpl_vars['active']->id ?>">
        <?php if ($tpl_vars['error']) { ?>
        <div class="error"><?php echo $tpl_vars['error'] ?></div>
        <?php } ?>
        <ul>
            <?php foreach ($tpl_vars['active']->questions as $k => $question) {?>
                <li><?php echo $question->question; ?> <?php if ($question->required_answer) {echo '*';} ?></li>
                <ul>
                    <?php foreach ($question->answers as $kk => $answer) {?>
                    <li>
                        <?php if ($question->multy_answer) { ?>
                            <input type="checkbox" name="chbx[<?php echo $question->id ?>][<?php echo $answer->id ?>]" <?php if(isset($tpl_vars['answers']['chbx'][$question->id][$answer->id])) {echo 'checked';} ?> />
                        <?php } else { ?>
                            <input type="radio" name="group[<?php echo $question->id ?>]" value="<?php echo $answer->id ?>" <?php if(isset($tpl_vars['answers']['group'][$question->id]) && $tpl_vars['answers']['group'][$question->id] == $answer->id) {echo 'checked';} ?> />
                        <?php }?>
                        <?php echo $answer->answer; ?>
                    </li>
                    <?php } ?>
                </ul>
            <?php } ?>
        </ul>
        <button type="submit" class="btn">Сохранить результаты</button>
    </form>
<?php } else { ?>
    <div>Нет доступного опроса</div>
<?php } ?>